html
    head 
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title standard source

        //- Logo Icon
        link(rel="shortcut icon" type="image/x-icon" href="")

        //- font awesome icons
        link(rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css")

        //- Style CSS
        link(rel="stylesheet" type="text/css" href="./assets/css/main.css")
    
    body 
        include ./header.pug
        block content
        include ./footer.pug

        //- jQuery
        script(src="./assets/js/jquery.min.js")

        //- Java Script
        script(src="./assets/js/main.js")



